*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size:40px;
}

body{
    font-family: Arial;
    height: 1500px;
}

.container{
    background-color: slateblue;
    color: #fff;
    padding: 30px;
    font-size:20px;

    /* vw */
    /* vw ocupa todo el espacio de la pantalla, incluyendo el scroll, por lo que por ahí no es muy buena opción */
    width:80%;
    /* vh */
    height: 80vh;
}

.title{margin-bottom: 20px;}

.primero{
    font-size: 1.5rem;
    /* rem: la unidad rem es relativa al tamaño de la raiz del documento(etiqueta html). Por defecto la etiqueta html tiene un font-size de 16px por lo que 1rem = 16px por default*/
}

.segundo, .tercero{
    font-size: 24px;
}

.cuarto{
    font-size: 2em;
    /* em: la unidad em es relativa al tamaño del contenedor padre o contenedor mas cercano donde tenga un font-size declarado, desde el elemento en el que se aplica em */
    /*Una vez que se aplica em en un elemento, si en otra propiedad del mismo elemento quiero utilizar la misma unidad, va a tomar de referencia el primer valor de referencia declarado en font-size*/
}