*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size:40px;
}

body{
    font-family: Arial;
    height: 1500px;
}

.container{
    background-color: slateblue;
    color: #fff;
    padding: 30px;
    font-size:20px;

    /* vw */
    /* vw ocupa todo el espacio de la pantalla, incluyendo el scroll, por lo que por ahí no es muy buena opción */
    width:80%;
    /* vh */
    height: 80vh;
}

.title{margin-bottom: 20px;}

.primero{
    font-size: 1.5rem;
}

.segundo, .tercero{
    font-size: 24px;
}

.cuarto{
    font-size: 2em;
}