*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.element{
    margin: 100px; 
    width: 200px;
    height: 200px;
    background-color: royalblue;

    /* box-shadow: 100px 200px 10px blue, 100px 100px ; */
    border-radius: 20px 10px 30px ;
/* 
    border-top-right-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 40px; */
}